.wrapper {
    padding: 90px 100px;
    position: relative;
}

.heading {
    font-weight: 600;
    font-size: 54px;
    width: 374px;
}

.buttonsWrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.carousel {
    position: relative;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
}