nav {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.navLinks {
    display: flex;
    gap: 80px;
}

.contactWrapper {
    border: solid 2px var(--color-white);
    padding: 14px 36px;
}

.iconsBox {
    display: flex;
    gap: 23px;
}